<style>

    #section {
        display: grid;
        grid-template-columns: 40% 40% 20%;
    }
	
	body{
		background-image: url('https://lh3.googleusercontent.com/L7oWqjwNJTonbjeUDfvF3j8FD2SGH3an714N78U_XA5QYa_nweGaAiuKktBzVGnoz075VqBAosWnw29-KTR4LRTQL19Vq7oys1mlLwBU8Y2BFt3rctcxSHBVeQfRH9TWWqf79hXbizeiK1ngsdqMgiewQVrMhk-nALEkP68CASpB_lqTyvNPhjL1mIsopUhAsqa9o24HKsRjn0zODgCBokNXZ9N0kl4ZN2_Zi4NMd638WOW6yr3DhuwYIC0l2V0-SvHDGZRdMiiLJ3N-Awu3ZnZM5XfWL0oqd0aNije-RCovWpVcQotX6tWtcp-ZPqjDhSKFZaidITRR3OPAdrkM9nsp6G0ZpFDK5vO1Bn-NLNgcxdjfL7OtpT2fFmzvk5aj1W6VkuXLzqPJAPKacx0wZU-mRTeDhfj8thu24yF_gyTtbU4SP70ub8uEP9McsoTfIBDtCEiUnEp3j2NzHOyDpNAdcRjYTo02MCpAzVdF_tWRaXW_2vtU6Y4euV8QjqtUN8o8OgMcywbhG9aBV0uMGiD1kxd59h-COCrA2LsML0b2XcBwLqtFOdU2eT-Jok2qBRyW7L_DKiOs0jtNmGyMGdTSNId20xrk811Ibyqs9DL9vSFJwmkssAfHgKwwmhcaxsx8X8R8VMFlz_P5uyyS5276Pt-t1FSOGz1wkT9Zo7auCoht682Ue3YAQU6GDQtDq2MSlnMlz6JfqJJDlnAi1bc6mYVcV7KaUt55tcinEoyVXmGYtg=w103-h937-no');
		}
		
	header{
		display:floating;
		position: absolute;
		top:0px;
		left: 0px;
		z-index:1;
	}
	
	#section {
        display: grid;
        grid-template-columns: 40% 40% 20%;
		width:757;
		position: absolute;
		top:132px;
    }
	
	#col1{
		width:285;
	}
	
	.para{
		font-family: arial;
		font-size: 14px;
		color: #FFFFFF;
	}
	
	#fullstory{
		font-family: arial;
		font-size: 14px;
		color: #FFCC33;
	}
	
	ul{    
		font-family: arial;
		font-size: 12px;
		padding-inline-start: 16px;
		list-style-image: url('http://www.cnn.com/SPECIALS/2001/year.in.review/images/link.arrow.gif')
	}
	
	.drpcontent {
		display: none;
		position: absolute;
		top: 18px;
		background-color: white;
		min-width: 160px;
		max-height: 800px;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		left:-10;
		text-decoration:none;
		overflow: scroll;
	}
	#test1:hover{
	background-color: lightblue;}
	#test2:hover{
	background-color: lightblue;}
	#test3:hover{
	background-color: lightblue;}
	#test4:hover{
	background-color: lightblue;}
	#test5:hover{
	background-color: lightblue;}
	#test6:hover{
	background-color: lightblue;}
	#test7:hover{
	background-color: lightblue;}
	#test8:hover{
	background-color: lightblue;}
	#test9:hover{
	background-color: lightblue;}
	#test10:hover{
	background-color: lightblue;}
	#test11:hover{
	background-color: lightblue;}
	#test12:hover{
	background-color: lightblue;}
	#test13:hover{
	background-color: lightblue;}
	#test14:hover{
	background-color: lightblue;}
	#test15:hover{
	background-color: lightblue;}
	#test16:hover{
	background-color: lightblue;}
	#test17:hover{
	background-color: lightblue;}
	#test18:hover{
	background-color: lightblue;}
	#test19:hover{
	background-color: lightblue;}
	#test20:hover{
	background-color: lightblue;}
	#test21:hover{
	background-color: lightblue;}
	#test22:hover{
	background-color: lightblue;}
	#test23:hover{
	background-color: lightblue;}
	#test24:hover{
	background-color: lightblue;}
	#test25:hover{
	background-color: lightblue;}
	#test26:hover{
	background-color: lightblue;}
	#test27:hover{
	background-color: lightblue;}
	#test28:hover{
	background-color: lightblue;}
	#test29:hover{
	background-color: lightblue;}
	#test30:hover{
	background-color: lightblue;}
	#test31:hover{
	background-color: lightblue;}
	#test32:hover{
	background-color: lightblue;}
	#test33:hover{
	background-color: lightblue;}
	#test34:hover{
	background-color: lightblue;}
	#test35:hover{
	background-color: lightblue;}
	#test36:hover{
	background-color: lightblue;}
	#test37:hover{
	background-color: lightblue;}
	#test38:hover{
	background-color: lightblue;}
	#test39:hover{
	background-color: lightblue;}
	
	.dropdown {
		position: absolute;
		top: 107px;
		left:295px;
		display: inline-block;
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 10px;
		float: left;
		z-index:1;
	}
	.dropdown2{
		position: absolute;
		top: 107px;
		left:480px;
		display: inline-block;
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 10px;
		float: left;
		z-index:1;
	}
	.dropbtn {
		position: relative;
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 10px;
		width:170px;
		left:-10;
		text-align:left;
	}
	.dropbtn2 {
		position: relative;
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 10px;
		width:120px;
		left:-10;
		text-align:left;
	}
	
	.dropdown2:hover .drpcontent {
		display: block;
	}

	.dropdown:hover .drpcontent {
		display: block;
	}
		
	li{
		margin:0 0 9px 0;
	}
	.dgaf li{
		margin:0 0 0px 0;
	}
		
	a{    
		color: #FFCC33;
		}
		
	a:hover{
		text-decoration:none;
	}
	
	.black{
		text-decoration:none;
		background-color:black;
		height:1;
		width:100;
		margin:3px;
	}
	
	#footy{
		text-align:center;
	}
	
	.dgaf{
		position:absolute;
		top:7px;
		left: 615px;
		list-style-image: url(http://www.cnn.com/SPECIALS/2001/year.in.review/images/navbar/nav.arrow.off.gif);
	}
	
	.neverunder{
		text-decoration:none;
	}
	
	#selected{
		list-style-image: url(http://www.cnn.com/SPECIALS/2001/year.in.review/images/navbar/nav.arrow.on.gif);
		color:white;}
	#one:hover{
		list-style-image: url(http://www.cnn.com/SPECIALS/2001/year.in.review/images/navbar/nav.arrow.on.gif);}
	#two:hover{
		list-style-image: url(http://www.cnn.com/SPECIALS/2001/year.in.review/images/navbar/nav.arrow.on.gif);}
	#three:hover{
		list-style-image: url(http://www.cnn.com/SPECIALS/2001/year.in.review/images/navbar/nav.arrow.on.gif);}
	#four:hover{
		list-style-image: url(http://www.cnn.com/SPECIALS/2001/year.in.review/images/navbar/nav.arrow.on.gif);}
	#five:hover{
		list-style-image: url(http://www.cnn.com/SPECIALS/2001/year.in.review/images/navbar/nav.arrow.on.gif);}
	#six:hover{
		list-style-image: url(http://www.cnn.com/SPECIALS/2001/year.in.review/images/navbar/nav.arrow.on.gif);}
	
	.normal{
		color: #000099;}
	.blacklink{
		color: black;
		text-decoration:none;
		margin-bottom: 10px;}
	
	footer {
		position: absolute;	
		top: 800px;
		left: 250px;
		font-family: Verdana, HELVETICA, ARIAL, sans-serif;
		font-size:x-small;
         }
</style>