<style>
{}
	#Title{
		font-family: arial;
		font-size: 20px;
		display:floating;
		text-align: center;
		z-index:2;}
	#instructions{
		text-align: center;
	}
	header{
		font-family: arial;
		font-size: 15px;
		z-index:1;
		background-color: cadetblue;
		width:100%;
	}
    #headerbody {
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
    }	
	#headerbody>* {
        text-align: center;
    }	
	body{
		background-image: linear-gradient(to right, #D43D1A, #E04006);
		}
		

	
	#section {
        display: grid;
        grid-template-columns: 100%;
		text-align: center;
		font-family: sans-serif;
		font-size: 30px;
		color: red;
    }
	#results{
		font-size: 10px;
		color: white;
		text-align: center;
		border: 1px solid black;

</style>