<style>
{}
	body{
		background-image: linear-gradient(to right, #D43D1A, #E04006);
		text-align: center;
		}
		
	img{width: 100%;}
	th, td {
		padding:5px;
		border: 5px solid black;
	}
	#results{
		font-size: 20px;
		color: white;
		text-align: center;
		border: 5px solid black;
	}
	.image_cell{
		width: 25%;
		overflow: auto;
	}
	.limit_height{
		height: 400px;
		overflow: auto;
	}
	.username_cell{
		width:10%;
		overflow: auto;
	}
	.review_cell{
		overflow: auto;
	}
	.nav_buttons{
		text-align: center;
		padding:5px;
		background-color: white;
	}
</style>