{% extends "bootstrap/base.html" %}
{% from "_formhelpers.html" import render_field %}

{% block content %}
    <h1>Login</h1>
    <form action="/search" method='post'>
        {{ form.hidden_tag() }}
        {{ render_field(form.email) }}
        <br />
		{{ render_field(form.password) }}
		<br />
        {{form.submit()}}
    </form>
	
	<h1>Register</h1>
    <form action="/search" method='post'>
        {{ reg.hidden_tag() }}
        {{ render_field(reg.remail) }}
        <br />
		{{ render_field(reg.rpassword) }}
		<br />
        {{reg.rsubmit()}}
    </form>
	
{% endblock %}


