{% extends "bootstrap/base.html" %}
{% from "_formhelpers.html" import render_field %}

{% block content %}
<body>
	<link rel="stylesheet" type="text/css" href="/static/mashup.css">
	<h1>UMN Dorm Reviews</h1>
	<p>This website allows students to make an account and review any of the dorms on the UMN campus! They can also search reviews by location, the review title, or the review content.</p>
	<h2>Login</h2>
    <form action="/" method='post'>
        {{ form.hidden_tag() }}
        {{ render_field(form.email) }}
        <br />
		{{ render_field(form.password) }}
		<br />
        {{form.submit()}}
    </form>
	
	<h2>Register</h2>
    <form action="/" method='post'>
        {{ reg.hidden_tag() }}
        {{ render_field(reg.remail) }}
        <br />
		{{ render_field(reg.rpassword) }}
		<br />
        {{reg.rsubmit()}}
    </form>
</body>
	
{% endblock %}


