{% extends "bootstrap/base.html" %}
{% from "_formhelpers.html" import render_field %}

{% block content %}
    <a href="/search">New Search</a>
	<a href="/logout">Log Out</a>
	
<HEAD>
	<title>Building Reviews</title>
	<link rel="stylesheet" type="text/css" href="/static/mashup.css">
	<script src="mashup.js"></script>
</HEAD>

<body>
	<table id="results"><tbody>
		<tr>
			<td>Username</td>
			<td>Review</td>
			<td>Photos</td>
		</tr>
		{% for result in search_res: %}
		<tr>
			<td><div id = "limit_height">{{result[4]}}</div></td>
			<td><div id = "limit_height">{{result[1]}}<br>{{result[2]}}</div></td>
			<td id="image_cell"><div id = "limit_height"><img src={{result[0]}}>
			{% for img in result[3]: %}
				<img src={{img}}></div></img>
			{% endfor %}
			</td>
		</tr>
		{% endfor %}
	</tbody></table>
 </body>
	
{% endblock %}