{% extends "bootstrap/base.html" %}
{% from "_formhelpers.html" import render_field %}

{% block content %}
<body>
	<link rel="stylesheet" type="text/css" href="/static/mashup.css">
	<table><tr><td>
	<h1>UMN Dorm Reviews</h1>
	<br>
	<a class="nav_buttons" href="/new_posting">New Post</a>
	<a class="nav_buttons" href="/logout">Log Out</a>
	</td></tr></table>
	<br>
    <h1>Search</h1>
    <form action="/postings_list" method='post'>
        {{ form.hidden_tag() }}
        {{ render_field(form.search) }}
        <br />
        {{form.submit()}}
    </form>
</body>
	
{% endblock %}